{# rendering della parte di pagina che mostra i metadata 
Parametri:

#}
<div class="row">
    <label class="col-md-4">Label 1</label>
    <div class="col-md-8 muted">Value 1</div>
</div>
<div class="row">
    <label class="col-md-4">Label 2</label>
    <div class="col-md-8 muted">Value 2</div>
</div>