{# rendering della parte di pagina che mostra i metadata 
Parametri:
items: array di valori da mostrare
    ogni item: name, type, value, availablevalues[]
#}
{% if items | length > 0 %}
    <table class="table table-striped table-bordered">
        <thead>
            <tr><td>Proprietà</td><td>Valore</td></tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.label }}</td>
                <td>{{ item.value }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-info">
        Nessun metadato disponibile
    </div>
{% endif %}
<!--div class="row">
    <label class="col-md-4">Label 1</label>
    <div class="col-md-8 muted">Value 1</div>
</div>
<div class="row">
    <label class="col-md-4">Label 2</label>
    <div class="col-md-8 muted">Value 2</div>
</div-->