{% extends '::base.html.twig' %}

{% block content %}
<h2 class="blue">Repository browser</h2>
<div>
    <a class="btn btn-default btn-sm" href="{{ url('openview_treerepo_uploadform') }}">Upload</a>
</div>
{% endblock %}

